* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
--secondary-shadow: #a17a69;

}

.text-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.div-board {
    background-color: #fff;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 10px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    
}

.wrapper {
    display: flex; /* Enables Flexbox layout, allowing child elements to be flex items */
    flex-wrap: wrap; /* Allows flex items to wrap onto multiple lines as needed */
    justify-content: center;
    max-width: 500px; /* Sets the maximum width of the container to 500px */
    margin: auto;  /* Centers the container within its parent element */
}

.alert-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.div-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}



.about {
 max-width: 68rem;
margin: auto;
text-align: center;
margin-top: 2.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 18px;
    margin: 10px;
    background-color: red;
    width: 80px;
    height: 80px;
}

.example-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-word-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.word {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.signup-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}


.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-container {
    display: flex;
    
    justify-content: center;
}


.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a17a69;
    width: 300px;
    display: none;
    
}

.menu.show {
    display: block;
}


.skills {
    margin: auto;
}